.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-auto-rows: minmax(150px, auto);
  grid-row-gap: 10px;
  grid-column-gap: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

.grid {
  width: 270px;
  height: 260px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.8s;
}

.item-1 {
  background-color: #62306D;
  z-index: 0;
  cursor: pointer
}

.item-1:hover {
  background-color: #3b0f44;
}

.item-2 {
  background-color: #EFF2F1;
  transition: 0.8s;
  cursor: pointer;
}

.item-2:hover {
  background-color: rgb(187, 177, 177);
}

.item-3 {
  background-color: #161616;
  transition: 0.8s;
  cursor: pointer;
}

.item-3:hover {
  background-color: rgba(0, 0, 0, 0.849)
}

.item-4 {
  background-color: #F3AC3C;
  transition: 0.8s;
  cursor: pointer;
}
