.letter {
    font-size: 271px;
    translate: 100px -15px;
    font-weight: bold;
    color: #1C1C1C;
    border-radius: 10px
  }

  .letter-r {
    position: absolute;
    left: 260px;
    top: -35px;
    font-family: serif;
  }