.outer-circle {
    background: #A22015;
    position: absolute; 
    width: 190px;
    height: 190px;
    background: #A22015;
    border-radius: 50%; 
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border: 6px solid #000000;
  }

  .inner-circle {
    position: absolute;
    background: #000000; 
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 10px solid #E96A23;
    left: 50%;
    top: 50%;
    translate: -50% -50%
  }

  .middle-circle {
    position: absolute; 
    border: 15px solid #000000; 
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .sharingan {
    position: relative;
    top: 50%;
  }