
  .line-1 {
    width: 40px;
    height: 140px;
    background: #dd6b4d;
    background-color: #FEF9CA;
    translate: 142px 72px;
    transform: skew(-21deg);
    z-index: 5; 
    position: absolute;
  }
  .line-2 {
    width: 45px;
    height: 140px;
    background-color: #C5B732;
    transform: skew(20deg);
    translate: 204px 72px;
    z-index: -1;
    position: absolute;
  }

  .line-3 {
    width: 54px;
    height: 50px;
    background-color: #AA445F;
    transform: skew(40deg);
    translate: 190px 162px;
    z-index: -1;
    position: absolute;
  }

  .line-4 {
    width: 54px;
    height: 50px;
    background-color: #E38F66;
    transform: skew(-40deg);
    translate: 140px 162px;
    z-index: 5;
    position: absolute;
  }

  .letter-a {
    position: absolute;
    left: -40px;
    top: 10px;
  }