.rec-1 {
    position: absolute; 
    width: 148px;
    height: 100px;
    background: #1A4341;
    translate: 10px 17px;
    border-radius: 10px
  }
  .rec-2 {
    position: absolute; 
    width: 148px;
    height: 120px;
    background: #1A4341;
    translate: 100px 127px;
    border-radius: 10px
  }
  .square {
    position: relative; 
    width: 80px;
    height: 100px;
    background: #F3AC3C; 
    border-radius: 10px;
    left: 70%;
    top: 138%;
  }